{% extends "main.html" %}
{% block content %}
<div id="result"></div>
<!-- The user clicks the sign-in button and grants your app access to the permissions that you requested. -->
<div class="d-flex flex-column align-items-center" id="login">
	<h1>Please login</h1>
	<div id="signInButton">
		<span class="g-signin" data-scope="openid email" data-clientid="1062836341921-mlqpt85ilo8tctdn5hehfpktgopmlbq5.apps.googleusercontent.com"
		 data-redirecturi="postmessage" data-accesstype="offline" data-cookiepolicy="single_host_origin" data-callback="signInCallback"
		 data-approvalprompt="force">
		</span>
	</div>
</div>
<script>
	// Send authorization code to the server
	// the code is a one time code that the server can exchange for its own access token and refresh token
	// store the refresh token for later use as subsequent calls will return null
	// Note: This flow provides increased security over your standard OAuth 2.0 flow.
	function signInCallback(authResult) {
		console.log(authResult)
		if (authResult['code']) {
			// Hide the sign-in button now that the user is authorized
			$('#login').hide();
			// Send the code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
			$.ajax({
				type: 'POST',
				url: '/gconnect',
				processData: false,
				data: authResult['code'],
				contentType: 'application/octet-stream; charset=utf-8',
				success: function (result) {
					// Handle or verify the server response if necessary.
					if (result) {
						$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
						setTimeout(function () {
							window.location.href = "/catalog";
						}, 4000);

					} else if (authResult['error']) {
						console.log('There was an error: ' + authResult['error']);
					} else {
						$('#result').html('Failed to make a server-side call. Check your configuration and console.');
					}
				}
			});
		} else {
			console.log("Error getting the code")
		}
	}
</script>
{% endblock %}