{% extends "main.html" %}
{% block content %}
	{% include "flash_template.html" %}
	<div class="row">
		<div class="col-md-4" style="height: 100%">
			<div class="row">
				<div class="col-md-9">
					<h2>Categories</h2>

				</div>
				{% if 'username' in session %}
				<div class="col-md-3">
					<a class="btn btn-dark" href="{{ url_for('new_category') }}" role="button">&#43;</a>
				</div>
				{% endif %}
			</div>
			{% include 'category_list.html' %}
		</div>
		<div class="col-md-8" style="height: 100%">
			<div class="row">
				<div class="col-md-9">
					<h2>Latest Items</h2>
				</div>
				{% if 'username' in session %}
				<div class="col-md-3">
					<a class="btn btn-dark" href="{{ url_for('new_item') }}" role="button">&#43;</a>
				</div>
				{% endif %}
			</div>
			<ul class="list-group">
				{% include "items_list.html" %}
			</ul>
		</div>
	</div>
{% endblock %}